{% load static %}

{% block content %}

    <!-- Index Section -->
    {% include 'index.html' %}

    <!-- About Section -->
    {% include 'about.html' %}

{% endblock %}





    <footer class="py-6 px-6" style="background-color: #4c66a5">

        <div>
            <ul class="space-y-2">
                <li><a href="#" class="text-lg text-white hover:text-teal-700">Navigation</a></li>
                <li><a href="#" class="text-lg text-white hover:text-teal-700">About</a></li>
                <li><a href="#" class="text-lg text-white hover:text-teal-700">Contact</a></li>
                <li><a href="#" class="text-lg text-white hover:text-teal-700">Privacy Policy</a></li>
                <li><a href="#" class="text-lg text-white hover:text-teal-700">Terms of Use</a></li>
            </ul>
        </div>
    </footer>

    <!--JavaScrit Files-->

    <script src="{% static 'javascript/script.js' %}"></script>

</body>
</html>